<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nutrient</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
	<link href="/static/css/element.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Geostar+Fill|Leckerli+One|Montez" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="./js/ekko-lightbox.js"></script>


</head>

<body>
	<section id="header" class="header_menu">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand heading_tag" href="/">With Love </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="tag_menu " href="/">HOME</a>
						</li>

						<li>
							<a class="tag_menu active_tab " href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/favourite">FAVOURITE</a>
						</li>

						<li>
							<a class="tag_menu" href="/all/recipes">RECIPES</a>
						</li>

						<li>
							<a class="tag_menu" href="/recipes/new">ADD RECIPE</a>
						</li>

						<li>
							<a class="tag_menu" href="/contact">CONTACT</a>
						</li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="/">Home</a></li>
								<li><a href="/all/recipes">Recipes</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>

	<section id="header_mini">
		<div class="container">
			<div class="row">
				<div class="header_mini clearfix">
					<h1><a class="heading_tag" href="/">With Love</a></h1>
				</div>
				<a id="menu-toggle" href="#" class="btn btn-warning btn-lg toggle"><i class="fa fa-toggle-on"></i></a>

				<div id="sidebar-wrapper" class="">
					<ul class="sidebar-nav">
						<a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i
								class="fa fa-remove"></i></a>
						<li class="sidebar-brand">
							<a class="heading_tag" href="/">With Love</a>
						</li>
						<li>
							<a class="tag_menu active_tab" href="/">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/favourite">FAVOURITE</a>
						</li>

						<li>
							<a class="tag_menu" href="/all/recipes">RECIPES</a>
						</li>

						<li>
							<a class="tag_menu" href="/recipes/new">ADD RECIPE</a>
						</li>

						<li>
							<a class="tag_menu" href="/contact">CONTACT</a>
						</li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="/">Home</a></li>
								<li><a href="/all/recipes">Recipes</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>

	<section id="about">
		<div class="menu_1 clearfix text-center">
			<h1>About Recipes</h1>
		</div>
		<div class="menu_2 clearfix">
			<div class="col-sm-6 space_all">
				<div class="menu_2_left">
					<img src="/static/img/31.jpg" width="100%" height="600px">
				</div>
			</div>
			<div class="col-sm-6 space_all">
				<div class="menu_2_right about_menu_right clearfix">
					<h1><a href="#">Discover the Art of Cooking</a></h1>
					<h2 class="heading_tag">Explore the World of Flavors</h2>
					<p> Welcome to our culinary journey! Dive into the rich and diverse world of recipes, where every
						dish tells a story. Whether you're a seasoned chef or a kitchen novice, there's always something
						new to learn and explore. From classic comfort foods to exotic international cuisines, let your
						taste buds be your guide.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="about_middle">
		<div class="container">
			<div class="row">
				<div class="about_middle clearfix text-center">
					<h1>Traditional Albanian Cuisine</h1>
				</div>
				<div class="about_middle_1 clearfix">
					<div class="col-sm-4">
						<div class="about_middle_1_inner clearfix">
							<h3>Tavë Kosi</h3>
							<p> Tavë Kosi is a delicious Albanian dish made with tender lamb or goat meat, baked in a
								creamy yogurt sauce flavored with garlic and fresh herbs. It's a comforting and hearty
								dish that's perfect for sharing with family and friends.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="about_middle_1_inner clearfix">
							<h3>Fërgesë</h3>
							<p>Fërgesë is a traditional Albanian dish made with peppers, tomatoes, and cottage cheese,
								all cooked together to create a rich and flavorful stew. It's often served with crusty
								bread for a satisfying and hearty meal.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="about_middle_1_inner clearfix">
							<h3>Byrek</h3>
							<p>Byrek is a popular Albanian pastry filled with layers of flaky dough and a variety of
								savory fillings, such as cheese, spinach, or meat. It's a versatile dish that can be
								enjoyed as a snack, appetizer, or even a main course.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section id="contact_home" class="clearfix">
		<div class="contact_home clearfix">
			<div class="col-sm-6 space_all">
				<div class="contact_home_left">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1236948.6091408293!2d20.799066097263426!3d41.3312033755865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135cf210e280dbd7%3A0x500a571620cd6f0!2sAlbania!5e0!3m2!1sen!2sin!4v1646660521586"
						width="100%" height="550px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
				</div>
			</div>

			<div class="col-sm-6 space_all">
				<div class="contact_home_right clearfix">
					<h3 class="heading_tag">Connect with Us</h3>
					<h3 class="heading_tag">Share Your Recipes!</h3>
					<p class="text-muted">Join our community and share your favorite recipes with food enthusiasts from
						around the world.</p>
					<div class="contact_home_right_inner clearfix">
						<ul class="social-network social-circle">
							<!-- You can keep or remove social media icons based on your preference -->
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
							</li>
							<li><a href="#" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer text-center">
						<p> © 2024 With Love. All Rights Reserved .</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/classie.js"></script>

	<script src="js/cbpAnimatedHeader.js"></script>

	<script type="text/javascript">
		$("#menu-close").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});
	</script>

</body>

</html>