<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nutrient</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
	<link href="/static/css/element.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Geostar+Fill|Leckerli+One|Montez" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="./js/ekko-lightbox.js"></script>


</head>

<body>
	<section id="header" class="header_menu">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand heading_tag" href="/">With Love </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="tag_menu" href="/">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/favourite">FAVOURITE</a>
						</li>

						<li>
							<a class="tag_menu" href="/all/recipes">RECIPES</a>
						</li>

						<li>
							<a class="tag_menu" href="/recipes/new">ADD RECIPE</a>
						</li>

						<li>
							<a class="tag_menu active_tab" href="/contact">CONTACT</a>
						</li>
						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="/">Home</a></li>
								<li><a href="/all/recipes">Recipes</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>

	<section id="header_mini">
		<div class="container">
			<div class="row">
				<div class="header_mini clearfix">
					<h1><a class="heading_tag" href="/">With Love</a></h1>
				</div>
				<a id="menu-toggle" href="#" class="btn btn-warning btn-lg toggle"><i class="fa fa-toggle-on"></i></a>

				<div id="sidebar-wrapper" class="">
					<ul class="sidebar-nav">
						<a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i
								class="fa fa-remove"></i></a>
						<li class="sidebar-brand">
							<a class="heading_tag" href="/">With Love</a>
						</li>
						<li>
						<li>
							<a class="tag_menu" href="/">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/favourite">FAVOURITE</a>
						</li>

						<li>
							<a class="tag_menu" href="/all/recipes">RECIPES</a>
						</li>

						<li>
							<a class="tag_menu" href="/recipes/new">ADD RECIPE</a>
						</li>

						<li>
							<a class="tag_menu" href="team.html">TEAM</a>
						</li>

						<li>
							<a class="tag_menu active_tab" href="/contact">CONTACT</a>
						</li>
						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="/">Home</a></li>
								<li><a href="/all/recipes">Recipes</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="text-center touch">Get In Connect With Others</h3>
					<form id="recipeEmailForm">
						<div class="col-sm-4">
							<div class="contact_2">
								<input class="form-control" type="text" placeholder="First Name"
									value="{{ session['first_name'] }}">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="contact_2">
								<input class="form-control" type="text" placeholder="Last Name"
									value="{{ session['last_name'] }}">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="contact_2">
								<input class="form-control" type="text" placeholder="Email"
									value="{{ session['email'] }}">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="contact_3">
								<textarea name="message" id="message" placeholder="Message..."
									class="form-control form_1" required></textarea>
								<button type="button" class="btn btn-primary" onclick="sendRecipeEmail()">Send
									Message</button>
								<p id="successMessage" style="display: none; color: green;">Message sent successfully!
								</p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<script>
		function sendRecipeEmail() {
			var message = document.getElementById("message").value;

			// Check if message is empty
			if (!message.trim()) {
				alert("Please enter a message.");
				return;
			}

			// Show success message
			var successMessage = document.getElementById("successMessage");
			successMessage.style.display = "block";

			// Optional: Clear the message input field
			document.getElementById("message").value = "";
		}
	</script>

	<section id="contact_home" class="clearfix">
		<div class="contact_home clearfix">
			<div class="col-sm-6 space_all">
				<div class="contact_home_left">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1236948.6091408293!2d20.799066097263426!3d41.3312033755865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135cf210e280dbd7%3A0x500a571620cd6f0!2sAlbania!5e0!3m2!1sen!2sin!4v1646660521586"
						width="100%" height="550px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
				</div>
			</div>

			<div class="col-sm-6 space_all">
				<div class="contact_home_right clearfix">
					<h3 class="heading_tag">Connect with Us</h3>
					<h3 class="heading_tag">Share Your Recipes!</h3>
					<p class="text-muted">Join our community and share your favorite recipes with food enthusiasts from
						around the world.</p>
					<div class="contact_home_right_inner clearfix">
						<ul class="social-network social-circle">
							<!-- You can keep or remove social media icons based on your preference -->
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
							</li>
							<li><a href="#" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer text-center">
						<p> © 2024 With Love. All Rights Reserved .</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/classie.js"></script>

	<script src="js/cbpAnimatedHeader.js"></script>

	<script type="text/javascript">
		$("#menu-close").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});
	</script>

</body>

</html>