<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nutrient</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
	<link href="/static/css/element.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Geostar+Fill|Leckerli+One|Montez" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="./js/ekko-lightbox.js"></script>

</head>
<style>

</style>

<body>
	<section id="header">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand heading_tag" href="/">With Love</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="tag_menu active_tab" href="/">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/favourite">FAVOURITE</a>
						</li>

						<li>
							<a class="tag_menu" href="/all/recipes">RECIPES</a>
						</li>

						<li>
							<a class="tag_menu" href="/recipes/new">ADD RECIPE</a>
						</li>

						<li>
                            <a class="tag_menu " href="/recipes/sugjerime">SUGJERIME</a>
                        </li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="/">Home</a></li>
								<li><a href="/all/recipes">Recipes</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>

	<section id="header_mini">
		<div class="container">
			<div class="row">
				<div class="header_mini clearfix">
					<h1><a class="heading_tag" href="/">With Love </a></h1>
				</div>
				<a id="menu-toggle" href="#" class="btn btn-warning btn-lg toggle"><i class="fa fa-toggle-on"></i></a>

				<div id="sidebar-wrapper" class="">
					<ul class="sidebar-nav">
						<a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i
								class="fa fa-remove"></i></a>
						<li class="sidebar-brand">
							<a class="heading_tag" href="/">With Love</a>
						</li>
						<li>
							<a class="tag_menu active_tab" href="/">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/favourite">FAVOURITE</a>
						</li>

						<li>
							<a class="tag_menu" href="/all/recipes">RECIPES</a>
						</li>

						<li>
							<a class="tag_menu" href="/recipes/new">ADD RECIPE</a>
						</li>

						<li>
                            <a class="tag_menu " href="/recipes/sugjerime">SUGJERIME</a>
                        </li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="/">Home</a></li>
								<li><a href="/all/recipes">Recipes</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>

	<section id="center">
		<div class="center_main clearfix">
			<div class="container">
				<div class="row">
					<div class="center text-center clearfix">
						<h2 class="heading_tag">Welcome to our Recipe Sharing Platform</h2>
						<h1>Discover, Share, and Explore Delicious Recipes!</h1>
						<h3>Join our community of food enthusiasts and explore a world of culinary delights. Whether
							you're a seasoned chef or a home cook, there's something for everyone.</h3>
						<h4><a href="#">Get Started</a></h4>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="about_home">
		<div class="about_home_main clearfix">
			<div class="container">
				<div class="row">
					<div class="about_home text-center clearfix">
						<h2><i class="fa fa-heart"></i></h2>
						<h1>WELCOME TO WITH LOVE!</h1>
						<h3 class="heading_tag">Share Your Love for Cooking</h3>
						<p>Indulge in the joy of cooking and sharing delicious recipes with the world at With Love. Our
							platform is dedicated to food enthusiasts who want to spread love through their culinary
							creations.<br>Whether you're a seasoned chef or a passionate home cook, With Love provides a
							platform for you to showcase your favorite recipes, connect with fellow food lovers, and
							discover new flavors from around the globe.<br>From comforting classics to innovative
							dishes, our community celebrates the diversity of cuisines and the love that goes into every
							meal. Join us on a journey of culinary exploration and inspiration!</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="menu_home" class="clearfix">
		<div class="menu_home clearfix">
			<div class="col-sm-4 space_all">
				<div class="menu_home_inner clearfix">
					<div class="grid clearfix">

						<figure class="effect-duke">
							<img src="/static/img/3.jpg" alt="img17" />
					</div>
				</div>
			</div>
			<div class="col-sm-4 space_all">
				<div class="menu_home_inner clearfix">
					<div class="grid clearfix">

						<figure class="effect-duke">
							<img src="/static/img/4.jpg" alt="img17" />
						</figure>
					</div>
				</div>
			</div>
			<div class="col-sm-4 space_all">
				<div class="menu_home_inner clearfix">
					<div class="grid clearfix">
						<figure class="effect-duke">
							<img src="/static/img/5.jpg" alt="img17" />
						</figure>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="offer_home">
		<div class="container">
			<div class="row">
				{% for one_recipe in recipes[:3] %} {# Iterating over the last three recipes in the list #}
				<div class="col-sm-4">
					<div class="offer_home_inner text-center">

						<a href="/recipes/show/{{ one_recipe.id }}">
							<img class="img-rounded"
								src="{{ url_for('static', filename='images/' + one_recipe.photo) }}" width="100%"
								height="400px">
						</a>


						<h3><a href="/recipes/show/{{ one_recipe.id }}">{{ one_recipe.name }}</a></h3>
						<p class="heading_tag">{{ one_recipe.description }}</p>
						<h2>Posted by:{{ one_recipe.user.first_name}} {{ one_recipe.user.last_name}}</h2>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="offer_home_1 text-center clearfix">
				<h4><a href="/all/recipes">SEE All</a></h4>
			</div>
		</div>
	</section>


	<section id="dishes_home">
		<div class="container">
			<div class="row">
				<div class="dishes_home clearfix">
					<div class="col-sm-6">
						<div class="dishes_home_left text-center">
							<h2><i class="fa fa-heart"></i></h2>
							<h1>WELCOME TO WITH LOVE!</h1>
							<h3 class="heading_tag">Delicious Recipes with Love</h3>
							<p>Welcome to "With Love" – your go-to destination for delicious recipes made with love and
								passion. Explore our best and latest menus filled with popular foods that will tantalize
								your taste buds.</p>
							<h4><a href="/about">ABOUT US</a></h4>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>



	<section id="contact_home" class="clearfix">
		<div class="contact_home clearfix">
			<div class="col-sm-6 space_all">
				<div class="contact_home_left">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1236948.6091408293!2d20.799066097263426!3d41.3312033755865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135cf210e280dbd7%3A0x500a571620cd6f0!2sAlbania!5e0!3m2!1sen!2sin!4v1646660521586"
						width="100%" height="550px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
				</div>
			</div>

			<div class="col-sm-6 space_all">
				<div class="contact_home_right clearfix">
					<h3 class="heading_tag">Connect with Us</h3>
					<h3 class="heading_tag">Share Your Recipes!</h3>
					<p class="text-muted">Join our community and share your favorite recipes with food enthusiasts from
						around the world.</p>
					<div class="contact_home_right_inner clearfix">
						<ul class="social-network social-circle">
							<!-- You can keep or remove social media icons based on your preference -->
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
							</li>
							<li><a href="#" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer text-center">
						<p> © 2024 With Love. All Rights Reserved </p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/classie.js"></script>
	<script src="js/cbpAnimatedHeader.js"></script>
	<script type="text/javascript">
		$("#menu-close").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function () {
				var $this = $(this),
					c = $this.data('count');
				if (!c) c = 0;
				c++;
				$this.data('count', c);
				$('#' + this.id + '-bs3').html(c);
			});
			$(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		});

	</script>
</body>

</html>